<style>
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); 
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body{
    
    margin: 0;
    
}
header{
    
    background: black;
    color:white;
    padding: 8px 0px 6px 40px;
    height:50px;
}
header h1{
    display: inline;
    font-family:'Oswald',sans-serif;
    font-weight: 400;
    font-size: 32px;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    }
 
nav ul   { 
  display:inline;
    padding:0px;
    float:left;
    
}
nav ul li{
    display:inline-block;
    list-style-type: none;
    color:white;
    float:left;
    margin-left: 12px;
}   
nav ul li a{
    color:white;
    text-decoration: none;
}
#nav {
        font-family: 'Montserrat', sans-serif;

}
  .homered {
    background-color: red;
    padding: 23px 10px 23px 10px;
    
}
   .divider{
    background-color: red;
    height:5px;
    }
.homeblack:hover{
    background-color: blue;
    padding: 23px 10px 23px 10px;
}
.BGI{
    
    background-image:url(https://www.walldevil.com/wallpapers/a28/background-images-website-tutorial-repeating.jpg);
   
    width:100%;
    height: 100%;


}
.homesub{
    font-family: 'Railway',sans-serif;
    margin:0;
    padding:2% 5% 0% 55%;
    font-size:30px
}

.homecode{
     font-family: 'Railway',sans-serif;
     margin: 0.5% 0% 0% 55%;
    font-size: 75px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    display: inline-block;
}
.homepho{
    
    font-family: 'oswald',sans-serif;
    margin:0% 0% 0% 55%;
    font-size:65px;
    color: black;
    display: inline-block;
}
   
.buttonhome{
    margin: 0% 0% 0% 55%;
    background: yellow;
    color:black;
    border:none;
    height: 55px;
    font-size: 1.5em;
    padding: 0.1em;
    cursor: pointer;
    outline: none;
    font-family: 'Railway',sans-serif;
    font-weight: 700;
    
}
    
    
    

